body {
  font-family: sans-serif;
  font-size: 15px;
  height: 100vh;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.menu-bar {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 102px;
  left: 95px
}

.menu-item {
  color: #f8f3de;
  cursor: pointer;
  opacity: 1;
  font-weight: 700;
  font-size: 15.5px;
  display: block;
}

.menu-item-1{
  -webkit-animation: fadeIn1 1.2s ease-out;
  animation: fadeIn1 1.2s ease-out
}

.menu-item-2{
  max-height: 0;
  overflow: hidden;
  -webkit-animation: fadeIn2 1.2s forwards;
  animation: fadeIn2 1.2s forwards
}

.menu-item-3{
  max-height: 0;
  overflow: hidden;
  -webkit-animation: fadeIn3 1.2s forwards;
  animation: fadeIn3 1.2s forwards
}

@-webkit-keyframes fadeIn1 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 50px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 93px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 43px;
    max-height: fit-content;
  }
}

@-webkit-keyframes fadeIn3 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 50px;
    max-height: fit-content;
  }
}

.toolbar {
  position: absolute;
  top: 91px;
  right: 74px;
  width: 30px;
  height: 30px;
  color: #f8f3de;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start
}

.toolbar .toolbar-line {
  width: 33px;
  height: 3px;
  background: #f8f3de;
  border-radius: 2px;
  margin-bottom: 6px
}

.scroll,
.scroll .scroll-item {
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s
}

.scroll .scroll-item {
  width: 100%;
  height: 30px;
  background-color: hsla(0, 0%, 100%, .7)
}

.float-text {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -400px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  padding-left: 15px
}

.float-text p {
  color: #eee;
  font-size: 10px;
  width: 355px;
  line-height: 2
}

.float-text2 {
  bottom: -70px
}

.float-text3 {
  bottom: 140px
}

.car-image {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 260px;
  z-index: 10
}

.car-image,
.car-image img {
  -webkit-transition: 1.5s;
  transition: 1.5s
}

.car-image img {
  width: 590px;
  height: 440px;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.car-image-state1 {
  transform: translateX(-135px)
}

.car-image-state1 img {
  width: 340px;
  height: 210px
}

.car-image-state2 {
  transform: translate(-120px, -170px) scale(.8)
}

.camp-image {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 350px;
  top: 190px;
  z-index: 10;
  -webkit-transition: opacity .3s, visibility .3s, -webkit-transform 1.5s;
  transition: opacity .3s, visibility .3s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity .3s, visibility .3s;
  transition: transform 1.5s, opacity .3s, visibility .3s, -webkit-transform 1.5s;
  opacity: 0;
  visibility: hidden
}

.camp-image img {
  width: 300px;
  height: 220px;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.camp-image-state1 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-160px);
  transform: translateX(-160px)
}

.camp-image-state2 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-190px, -150px) scale(.8);
  transform: translate(-190px, -150px) scale(.8)
}
.fking-scroll{
  transform:translateY(-0vh);
  transition:1.5s;
}
.section-one {
  padding: 50px;
  width: 100%;
  position: relative;
}
.title-section {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 362px;
  margin-top: 30px;
  align-items: center;
}
.title-section .title1 {
  width: 100%;
  overflow: hidden;
  color: #fff;
  display: block;
  max-height: 0;
  animation: fadeIn4 1.2s forwards;
}
.title-section .title2 {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  color: #fff;
  display: block;
  margin-top: -5px;
  animation: fadeIn5 1.2s forwards;
  animation-delay: 0.2s;
}

.title1 p{
  margin: 0px;
}
.title2 p{
  margin: 0px;
}

@-webkit-keyframes fadeIn4 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 10px;
    max-height: 92px;
  }
}

@-webkit-keyframes fadeIn5 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    max-height: 92px;
  }
}


/* .section-one .actionOff {
  opacity: 0;
  visibility: hidden
} */

.section-one .action {
  transition: .3s;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 165px;
  left: 93px;
  height: max-content
}
.section-one .action .explore {
  color: #f8f3de;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn1 1.2s forwards;
  margin-bottom: 5px;
}

.section-one .action .explore p {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  color: #f8f3de
}
/* .explore-text{
  height: 50px;
} */
.section-one .action .explore .button {
  width: 120px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid hsla(0, 0%, 100%, .6);
  border-radius: 60px;
  color: #f8f3de;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer
}

.section-one .action .action-btn {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-left: 130px;
}

.section-one .action .action-btn .btn {
  width: 76px;
  height: 76px;
  border-radius: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.7px solid hsla(0, 0%, 100%, .3);
  cursor: pointer;
  color: #f8f3de;
  margin-right: 26px;
  -webkit-animation: fadeInFromNone 1.2s ease-out;
  animation: fadeInFromNone 1.2s ease-out
}

.section-one .action .action-btn .btn:last-child {
  margin: 0
}

.section-one .action .drawing {
  height: 155px;
  margin-left: 255px;
  max-height: 155px;
  max-width: 300px;
  overflow: hidden;
  -webkit-animation: drawing 1s ease-out;
  animation: drawing 1s ease-out
}

@-webkit-keyframes drawing {
  0% {
    height: 0
  }

  1% {
    height: 0
  }

  to {
    height: 100px
  }
}

@keyframes drawing {
  0% {
    height: 0
  }

  1% {
    height: 0
  }

  to {
    height: 100px
  }
}