body {
  font-family: sans-serif;
  font-size: 15px;
  height: 100vh;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.menu-bar {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 102px;
  left: 95px;
  opacity: 1;
  transition: 1.5s;
}

.menu-item {
  color: #f8f3de;
  cursor: pointer;
  opacity: 1;
  font-weight: 700;
  font-size: 15.5px;
  display: block;
}

.menu-item-1{
  animation: fadeIn1 1.2s ease-out;
  animation: fadeIn1 1.2s ease-out
}

.menu-item-2{
  max-height: 0;
  overflow: hidden;
  animation: fadeIn2 1.2s forwards;
  animation: fadeIn2 1.2s forwards
}

.menu-item-3{
  max-height: 0;
  overflow: hidden;
  animation: fadeIn3 1.2s forwards;
  animation: fadeIn3 1.2s forwards
}

@keyframes fadeIn1 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 50px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeIn2 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 93px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 43px;
    max-height: fit-content;
  }
}

@keyframes fadeIn3 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 50px;
    max-height: fit-content;
  }
}

.toolbar {
  position: absolute;
  top: 91px;
  right: 74px;
  width: 30px;
  height: 30px;
  color: #f8f3de;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start
}

.toolbar .toolbar-line {
  width: 33px;
  height: 3px;
  background: #f8f3de;
  border-radius: 2px;
  margin-bottom: 6px
}

.scroll,
.scroll .scroll-item {
  border-radius: 5px;
  transition: 1s;
}

.scroll .scroll-item {
  width: 100%;
  height: 30px;
  background-color: hsla(0, 0%, 100%, .7)
}

.float-text {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  bottom: -88px;
  transition: 1.5s;
  transition: 1.5s;
  padding-left: 15px
}



.float-text0{
  bottom: -600px;
}

.opacity-for-this{
  opacity: 0 !important;
}

.float-text1{
  opacity: 0.65;
}

.float-text p {
  color: #eee;
  font-size: 12px;
  width: 520px;
  line-height: 2
}

.float-text2 {
  bottom: 230px
}

.float-text3 {
  bottom: 140px
}

.car-image {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -60px;
  z-index: 10;
}

.car-image,
.car-image img {
  transition: 1.5s;
  transition: 1.5s
}

.car-image img {
  width: 590px;
  height: 440px;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  user-select: none
}
.drawing-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  max-height: 0;
  bottom: 0px;
  transition: 1s;
  height: 152px;
}
.image-draw{
  animation: fadeInDraw 1s forwards;
  animation-delay: .5s;
}
@keyframes fadeInDraw {
  0% {
    display: none;
    color: #ddd;
  }

  1% {
    display: block;
  }

  to {
    display: block;
    max-height: 152px;
  }
}
.drawing-draw{
  width: 410px;
}
.drawing-draw img{
  max-width: 100%;
}
.drawing2{
  margin-right: 70px;
}
.drawing2 {
  width: 420px !important;
}
.car-image-state1 {
  transform: translateX(-135px)
}

.car-image-state1 img {
  width: 340px;
  height: 210px
}

.car-image-state2 {
  transform: translate(-120px, -170px) scale(.8)
}

.camp-image {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 380px;
  top: 240px;
  z-index: 10;
  transition: opacity .3s, visibility .3s, transform 1.5s;
  transition: opacity .3s, visibility .3s, transform 1.5s;
  transition: transform 1.5s, opacity .3s, visibility .3s;
  transition: transform 1.5s, opacity .3s, visibility .3s, transform 1.5s;
  opacity: 0;
  visibility: hidden
}

.camp-image img {
  width: 500px;
  height: 420px;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  user-select: none
}

.campTransform {
  opacity: 1;
  visibility: visible;
  margin-top: 50px;
  transform: translateX(-20px);
}

.camp-image-state2 {
  opacity: 1;
  visibility: visible;
  transform: translate(-190px, -150px) scale(.8);
  transform: translate(-190px, -150px) scale(.8)
}

.section-one {
  padding: 50px;
  width: 100%;
  transition: 1s;
  position: relative;
}
.title-section {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 362px;
  margin-top: 30px;
  align-items: center;
}
.title-section .title1 {
  width: 100%;
  overflow: hidden;
  color: #fff;
  display: block;
  max-height: 0;
  animation: fadeIn4 1.2s forwards;
}
.title-section .title2 {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  color: #fff;
  display: block;
  margin-top: -5px;
  animation: fadeIn5 1.2s forwards;
  animation-delay: 0.2s;
}

.title1 p{
  margin: 0px;
}
.title2 p{
  margin: 0px;
}

@keyframes fadeIn4 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    margin-top: 10px;
    max-height: 92px;
  }
}

@keyframes fadeIn5 {
  0% {
    display: none;
    color: #ddd;
    opacity: 0;
    margin-top: 100px;
  }

  1% {
    display: block;
    opacity: 0
  }

  to {
    display: block;
    opacity: 1;
    max-height: 92px;
  }
}


/* .section-one .actionOff {
  opacity: 0;
  visibility: hidden
} */

.section-one .action {
  transition: .3s;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 165px;
  left: 93px;
  height: max-content
}
.section-one .action .explore {
  color: #f8f3de;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn1 1.2s forwards;
  margin-bottom: 5px;
}

.section-one .action .explore p {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  color: #f8f3de
}
/* .explore-text{
  height: 50px;
} */
.section-one .action .explore .button {
  width: 120px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid hsla(0, 0%, 100%, .6);
  border-radius: 60px;
  color: #f8f3de;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer
}

.section-one .action .action-btn {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-left: 130px;
}

.section-one .action .action-btn .btn {
  width: 76px;
  height: 76px;
  border-radius: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.7px solid hsla(0, 0%, 100%, .3);
  cursor: pointer;
  color: #f8f3de;
  margin-right: 26px;
  animation: fadeIn1 1.2s ease-out;
  animation: fadeIn1 1.2s ease-out
}

.section-one .action .action-btn .btn:last-child {
  margin: 0
}

.section-one .action .drawing {
  height: 155px;
  margin-left: 255px;
  max-height: 155px;
  max-width: 300px;
  overflow: hidden;
  animation: drawing 1s ease-out;
  animation: drawing 1s ease-out
}

.drawing img{
  max-width: 300px;
}

@keyframes drawing {
  0% {
    height: 0
  }

  1% {
    height: 0
  }

  to {
    height: 155px
  }
}

.section-two {
  padding: 50px;
  height: 100vh;
  z-index: 9
}

.section-two ::scrollbar {
  width: 10px
}

.section-two ::scrollbar-track {
  background: #f1f1f1
}

.section-two ::scrollbar-thumb {
  background: #888
}

.section-two ::scrollbar-thumb:hover {
  background: #555
}


.section-two .text {
  color: #f8f3de;
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin-top: 250px
}

.scroll {
  opacity: 0;
  height: 130px;
  width: 6px;
  position: absolute;
  bottom: 52px;
  left: 95px;
  transition: 1s;
  background-color: hsla(0, 0%, 93.3%, .2)
}



.opacity-for-this-1{
  opacity: 1;
}

.scroll,
.scroll .scroll-item {
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s
}
.scroll-2{
  transform: translateY(42px)
}

.scroll .scroll-item {
  width: 100%;
  height: 50px;
  background-color: hsla(0, 0%, 100%, .7)
}
.title-section-2{
  margin-top: 62px;
  letter-spacing: -1.1px;
}

.carTransform {
  margin-top: 20px;
  transform: translate(-200px, 20px)
}

.carTransform img {
  width: 560px;
  height: 410px
}

.carTransform2 {
  transform: translate(-160px, -300px) scale(.8)
}
.campTransform2 {
  transform: translate(-90px, -260px) scale(.8)
}